@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Ecommerce_Markets.Models.Category>

@{
    ViewData["Title"] = "Danh sách Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Danh mục sản phẩm : Trang @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-6">
                <div class="d-md-flex">
                    <div class="col-sm-1">
                        <select class="custom-select" style="min-width: 180px;">
                            <option disabled selected>Trạng thái</option>
                            <option value="all">Tất cả</option>
                            <option value="inStock">Công khai </option>
                            <option value="outOfStock">Không công khai</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-success" asp-area="Admin" asp-action="Create" asp-controller="AdminCategories">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm mới</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Sắp xếp</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}";
                            <tr>
                                <td>@item.CatId</td>
                                <td>
                                    <a target="_blank" href="@url">@item.CatName</a>
                                </td>
                                <td>@item.Ordering</td>
                                <td>
                                    @if (item.Published == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Published</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Not Published</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-light" asp-area="Admin" asp-controller="AdminCategories" asp-action="Details" asp-route-id="@item.CatId"><i class="fa-solid fa-eye"></i></a>
                                    <a class="btn btn-light" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@item.CatId"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-light" asp-area="Admin" asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@item.CatId"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>